.item{
    font-family: sans-serif;
    position: relative;
    background-color: transparent;
    width: 8rem;
    height: 2rem;
    align-items: center;
    display: flex;
    justify-content: center;
    color: white;
    
}


.item:hover {
    transform: scale(1.1); 
    cursor: pointer; 
}

.icon {
    display: flex;
    align-items: center;
}

.text {
    margin-left: 3%;
}