.item-content{
    font-family: sans-serif;
    position: relative;
    background-color: transparent;
    width: 8rem;
    height: 2rem;
    align-items: center;
    display: flex;
    justify-content: center;
    color: white;
    
}


.item-content:hover {
    transform: scale(1.1); 
    cursor: pointer; 
}